body{
    font-family:'Oswald', sans-serif; ;
}
h1{
    font-size: 60px;
}
span{
    color:orange;
}
.upper{
    display: flex;
    margin-bottom: 150px;
}
.middle{
    display: flex;
    margin-bottom: 150px;
    background-image: url(img/7.png);
    padding: 20px 250px 0px;

}
.half{
    width: 80%;
    padding-left: 5%;
}
.half img{
    width:80%;
}
.button{
    text-decoration: none;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(117, 117, 185);
    background-image:linear-gradient(yellow,red) ;
    border-radius: 5px;
    padding: 5px 10px;
}
#pic{
    width: 50%;
}

.recipe{
    text-align: center;
}
.flexible{
    width: 80%;
    box-shadow: 20px 20px 40px whitesmoke;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5px;
    padding-right: 5px;
}
.parts{
    display: flex;
    width: 100%;
    margin-bottom: 150px;
}
.fimg{
    width: 80%;
}
.junk{
    display: flex;
    margin-bottom: 150px;
    background-image:url(img/back.jpg) ;
}
.salad{
    display: flex;
    margin-bottom: 150px;
}
.foot{
    text-align: center;
    background-color: black;
}
#End{
    color:wheat ;
}
h2{
    color: thistle;
}